body {
    font-family: 'Montserrat', sans-serif;
}
h1, h2 {
    font-family: 'Baloo 2', cursive;
}
#score-result{
    margin-bottom: 24px;
}
#question{
    margin-bottom: 24px;
}

#submit_survey button{
    width: 650px;
}